@model Patient

<div class="col-md-6">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="col-md-6">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="col-md-6">
    <label asp-for="PatientNumber" class="form-label"></label>
    <input asp-for="PatientNumber" class="form-control" />
    <span asp-validation-for="PatientNumber" class="text-danger"></span>
</div>
<div class="col-md-6">
    <label asp-for="BirthDate" class="form-label"></label>
    <input asp-for="BirthDate" type="date" class="form-control" />
    <span asp-validation-for="BirthDate" class="text-danger"></span>
</div>
<div class="col-md-4">
    <label asp-for="Gender" class="form-label"></label>
    <select asp-for="Gender" class="form-select">
        <option value="">Seçiniz</option>
        <option>Kadın</option>
        <option>Erkek</option>
        <option>Diğer</option>
    </select>
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>
<div class="col-md-8">
    <label asp-for="Phone" class="form-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Address" class="form-label"></label>
    <textarea asp-for="Address" class="form-control" rows="3"></textarea>
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
